services:
  api:
    build:
      context: .
      dockerfile: ./Dockerfile
    container_name: personal-finance-api
    ports:
      - "8080:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:8080
      - ConnectionStrings__DefaultConnection=Data Source=/data/personal-finance.db
    volumes:
      - pf_data:/data
    restart: unless-stopped

volumes:
  pf_data:
